<template>
  <div class="container">
<form action="#">
  <label id="title" for="title">Выберите страну</label>

 <select v-model="selectCountry" id="country">
 <option  v-for="country in countries" :key="country" :value="country.name">{{country.name}}</option>

 </select>
 <label for="title" id="title2">Тип визы</label>
 <select  v-model="visaPrice" name="visa" id="visa">
<option  v-for="type in types" :value="[type.price,type.name]" :key="type" >{{type.name}}</option>
 </select>
<div class="date">
 <label for="title" id="title3">Въезд</label>
   <input v-model="come" id="date" type="date">
    <label for="title" id="title4">Выезд</label>
   <input v-model="outcome" id="date2" type="date">
   <label for="title"  id="title5">Количество заездов</label>
<select v-model="howMany" name="type" id="type">
 <option  v-for="tr in tries" :value="[tr.price,tr.name]" :key="tr">{{tr.name}}</option>
</select>
<label id="time-working" for="days">Время обработки</label>
<select  v-model="timespent" name="days" id="days">
<option  v-for="time in timespread" :value="[time.price,time.name]" :key="time">{{time.name}}</option>
</select>
</div>
<div class="price">
   <h3 class="text-price">Предварительная сумма </h3>
<h4 class="price-number">€{{ price}}</h4>
</div>
<button @click.prevent="allPrice" id="continue">Продолжать</button>
</form>
<br>
  <div class="user">
    <h1 class="title">Пользователь</h1>
<div class="inputs">
  <form>
  <label for="name">Имя</label>
  <br>
  <input v-model="name" id="inputName" placeholder="Введите Имя" type="text">
 <label for="surname">Фамилия</label>
 <br>
  <input v-model="surname" id="inputSurname" placeholder="Введите фамилию"  type="text">
 <label for="date">Дата рождения</label>
 <br>
  <input v-model="date" id="inputDate" type="date">
  <br>
  <label for="nation">Гражданство</label>
  <select v-model="nation" name="nationality" id="selectNation">
<option selected>Russian</option>
<option> Uzbek</option>
<option>German</option>
  </select>
  <button @click.prevent="namePutter()" class="submitUser">Готово</button>
  </form>
</div>
<div class="valuePrice">

</div>
  </div>
  </div>

</template>

<script>
import axios from 'axios'
import { parse } from 'path'
export default {
  name: 'Container',
data(){
  return{
    come: '',
    outcome: '',
   name: '',
    surname: '',
    nation: '',
    date: '',
 selectCountry: 'Россия',
 types: [],
 days: [],
 tries: [],
 countries:[],
 timespread:[],
 price: '',
 timespent: '',
 howMany: '',
 visaPrice: '',
 RU: '',
 DE: '',
 EE: '' 
  }
},
mounted(){
axios.get('http://localhost:3000/countries').then(response => { this.countries = response.data})
axios.get('http://localhost:3000/types').then(response => { this.types = response.data})
axios.get('http://localhost:3000/timespent?q=RU').then(response => { this.timespread = response.data})
axios.get('http://localhost:3000/try?q=RU').then(response => { this.tries = response.data}) 
axios.get('http://localhost:3000/try?q=RU').then(response => { this.RU = response.data}) 
axios.get('http://localhost:3000/try?q=DE').then(response => { this.DE = response.data}) 
axios.get('http://localhost:3000/try?q=EE').then(response => { this.EE = response.data}) 
axios.get('http://localhost:3000/timespent?q=DE').then(response => { this.DEtime = response.data}) 
axios.get('http://localhost:3000/timespent?q=EE').then(response => { this.EEtime = response.data}) 
axios.get('http://localhost:3000/timespent?q=RU').then(response => { this.RUtime = response.data})
  
},
methods:{  
  namePutter(){
    class User{
      constructor(name,surname,nation,date,country,Въезд,Выезд,ТипВизы,КоличествоЗаездов,ВремяОбработки,ИтоговаяСтоимость){
this.name = name;
this.surname = surname;
this.nation = nation;
this.date = date;
this.country = country;
this.Въезд = Въезд;
this.Выезд = Выезд;
this.ТипВизы = ТипВизы;
this.КоличествоЗаездов = КоличествоЗаездов;
this.ВремяОбработки = ВремяОбработки;
this.ИтоговаяСтоимость = ИтоговаяСтоимость;
  }
}
const newUser = new User(this.name,this.surname,this.nation,this.date,this.selectCountry,this.come,this.outcome,this.visaPrice[1],this.howMany[1],this.timespent[1],this.price + '€')
    console.log(newUser)
},
onChange(event){
  if(event.target.value === 'Россия'){
this.tries = this.RU
this.timespread = this.RUtime
  }
  else if(event.target.value === 'Германия'){
    this.tries = this.DE
    this.timespread = this.DEtime
  }else{
this.tries = this.EE
 this.timespread = this.EEtime
  }
},

allPrice(){ 
this.price = parseInt(this.visaPrice[0]) + parseInt(this.howMany[0]) + parseInt(this.timespent[0])
}
}
}
</script>


<style scoped lang="scss">

</style>
