$bg: #3748aa;
$pos: absolute;
$bginput: #273795;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1515px;
  height: 1262px;
  background-color: $bg;
}
#title {
  position: absolute;
  left: 10.3%;
  right: 79%;
  top: 33%;
  bottom: 64.2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
#country {
  width: 348.89px;
  height: 39.98px;
  background-color: $bginput;
  color: white;
  font-family: Roboto;
  font-weight: 400;
  size: 14px;
  position: $pos;
  left: 10.37%;
  right: 86.1%;
  top: 39.07%;
  bottom: 57.6%;
}
#visa {
  width: 348.89px;
  height: 39.98px;
  background-color: $bginput;
  color: white;
  font-family: Roboto;
  font-weight: 400;
  position: $pos;
  left: 37.35%;
  right: 36.99%;
  top: 39%;
  bottom: 56.7%;
}
#title2 {
  position: absolute;
  left: 21.35%;
  right: 44.84%;
  top: 33%;
  bottom: 64.2%;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
#title3 {
  position: absolute;
  left: 0%;
  right: 75.84%;
  top: 48%;
  bottom: 64.2%;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
#date {
  position: absolute;
  left: 10.3%;
  right: 79.22%;
  top: 53.18%;
  bottom: 40.78%;
  color: white;
  background: $bginput;
  border-radius: 4px;
}
#title2 {
  position: absolute;
  left: 23.35%;
  right: 41.84%;
  top: 33%;
  bottom: 64.2%;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
#title4 {
  position: absolute;
  left: 24%;
  right: 75.84%;
  top: 48%;
  bottom: 64.2%;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
#date2 {
  position: absolute;
  left: 23.8%;
  right: 79.22%;
  top: 53.18%;
  bottom: 40.78%;
  color: white;
  background: $bginput;
  border-radius: 4px;
}
// .date {
//   display: flex;
//   justify-content: space-around;
// }
#type {
  width: 348.89px;
  height: 39.98px;
  background-color: $bginput;
  color: white;
  font-family: Roboto;
  font-weight: 400;
  position: $pos;
  left: 37.35%;
  right: 36.99%;
  top: 53.2%;
  bottom: 56.7%;
}
#title5 {
  position: $pos;
  left: 26.5%;
  right: 40.84%;
  top: 48%;
  bottom: 64.2%;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.price {
  width: 488.18px;
  height: 99.19px;
  position: absolute;
  left: 9.19%;
  right: 54.91%;
  top: 65.41%;
  bottom: 19.61%;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}
.text-price {
  color: white;
  font-family: Roboto;
  font-size: 20px;
  line-height: 23.44px;
  position: absolute;
  left: 13.92%;
  right: 69.85%;
  top: 5.25%;
  bottom: 14.19%;
}
.price-number {
  position: absolute;
  left: 72.41%;
  right: 59.33%;
  top: 1.58%;
  bottom: 44.19%;
  color: #ff6700;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 92.58%;
}
#days {
  height: 39.98px;
  width: 348.89px;
  position: absolute;
  left: 65.04%;
  right: 9.31%;
  top: 53.18%;
  bottom: 40.78%;
  background: #273795;
  border-radius: 4px;
  color: white;
}
#time-working {
  position: absolute;
  left: 54.04%;
  right: 14.15%;
  top: 48.09%;
  bottom: 48.28%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
#continue {
  position: absolute;
  left: 79.24%;
  right: 19.81%;
  top: 65.71%;
  bottom: 28.25%;
  line-height: 20px;
  background-color: green;
  width: 144.38px;
  color: #ffffff;
  height: 44.86px;
  border: none;
}
label {
  color: white;
}
.euro {
  position: absolute;
  left: 32.41%;
  right: 59.33%;
  top: 61.58%;
  margin-bottom: 94.19%;
}
