// .user {
//   position: absolute;
//   left: 0%;
//   right: 0%;
//   top: 10.45%;
//   bottom: 29.32%;
//   width: 1515px;
//   height: 827.13px;
//   background: #3748aa;
// }
#inputName {
  color: white;
  position: absolute;
  left: 9.56%;
  right: 71.69%;
  top: 118.6%;
  bottom: 0%;
  height: 40px;
  width: 255px;
  background: #273795;
  border-radius: 4px;
}
#inputName::placeholder {
  color: white;
}
#inputSurname {
  position: absolute;
  left: 30.51%;
  right: 50.74%;
  top: 118.6%;
  bottom: 0%;
  background: #273795;
  border-radius: 4px;
  width: 255px;
  height: 40px;
  color: white;
}
#inputSurname::placeholder {
  color: white;
}

#inputDate {
  margin-left: 11%;
  right: 37.02%;
  margin-top: 46.6%;
  bottom: 2.46%;
  background: none;
  border-radius: 4px;
  width: 156px;
  height: 40px;
  color: white;
}
label[for="name"] {
  position: absolute;
  left: 9.56%;
  right: 87.43%;
  top: 113.5%;
  bottom: 1.88%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
label[for="surname"] {
  position: absolute;
  left: 30.51%;
  right: 63.01%;
  top: 113.5%;
  bottom: 1.88%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
label[for="date"] {
  position: absolute;
  left: 48.5%;
  right: 37.02%;
  top: 113.5%;
  bottom: 1.88%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
#selectNation {
  position: absolute;
  left: 65.52%;
  right: 8.82%;
  top: 118.6%;
  bottom: 0%;
  background: #273795;
  border-radius: 4px;
  height: 40px;
  width: 348px;
  color: white;
}
label[for="nation"] {
  position: absolute;
  left: 52.2%;
  right: 13.67%;
  top: 113.5%;
  bottom: 1.88%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.title {
  color: white;
  position: absolute;
  left: 7.56%;
  right: 80.51%;
  top: 99%;
  bottom: 59.44%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-decoration: solid underline 5px;
}
.valuePrice {
  width: 1215.33px;
  height: 235px;
  position: absolute;
  left: 9.56%;
  right: 8.65%;
  top: 137.07%;
  bottom: 2.03%;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}
.submitUser {
  position: absolute;
  left: 78.8%;
  right: 10.58%;
  top: 175.51%;
  bottom: 1.3%;
  font-family: Roboto;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  width: 144.38px;
  height: 44.88px;
  background-color: green;
  border: none;
}
